
.input_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 63px;
    margin-bottom: 24px;
    position: relative;
}

.input_label{
    font-family: var(--font-jakarta);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
    color: var(--dialog-label-text-color);
}

.input{
    border-radius: 4px;
    height: 40px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    padding-left: 16px;
    font-family: var(--font-jakarta);
    font-size: var(--body-large-font-size);
    font-weight: var(--body-large-font-weight);
    line-height: var(--body-large-line-height);
    color: var(--dialog-input-text-color);
}

.input::placeholder{
    color: var(--dialog-placeholder-text-color);
}

.input:hover{
    border: 1px solid #635FC7;
}

.input:focus{
    outline: none;
    border: 2px solid #635FC7;
}

.emptyMessage{
    display: none;
    color: #EA5555;
    font-family: var(--font-jakarta);
    font-size: 13px;
    line-height: 23px;
    font-weight: 500;
    width: 97px;
    height: 23px;
    position: absolute;
    right: 16px;
    bottom: 8px;
}
