.switchBox{
    width: 251px;
    height: 48px;
    background-color: var(--sidebar-switch-box);
    border-radius: 6px;
    padding: 0px 64px 0px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 8px 24px;
}

.themeIcon{
    width: 18.33px;
    object-fit: contain;
}

.switch{
    width: 40px;
    height: 20px;
    border-radius: 12px;
    background-color: #635FC7;
    position: relative;
    cursor: pointer;
}

.switch:hover{
    background-color:#A8A4FF;
}

.handle{
    border-radius: 100%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 3px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: white;
}

@media(max-width: 1000px){
    .switchBox{
        width: 235px;
        margin-left: 13px;
        margin-bottom: 16px;
        padding: 0px 57px;

    }
}